@import 'src/styles/mixins.scss';

.nav_none {
  display: none;
}
.nav {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(40px);
  @include flexbox(space-between, center);
  &.navSticky {
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); // Пример изменения фона при закреплении
    padding: 10px 0;

    .nav__logo_sticky {
      display: block;
    }
  }
  //   border: 1px solid black;
  .nav__links {
    width: 70%;
    @include flexbox(flex-start, center);
    gap: 20px;
    margin-left: 5%;

    p {
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        color: var(--color-red);
      }
    }
  }
  .nav__cart_btn {
    margin-right: 5%;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-red);
    color: var(--color-light);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}

.nav__logo_sticky {
  display: none; // Скрываем логотип по умолчанию
}
