* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #fcfcfc;
  --color-dark: #181818;
  --color-orange: #ff6801;
  --color-light-grey: #f3f3f8;
  --color-grey: #999da6;
  --color-red: #e30713;
}
html {
  font-size: 16px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: inherit;
}

.Toastify__container {
  top: 100px !important; /* Добавляет отступ снизу на 10 пикселей */
}
