@import 'src/styles/mixins.scss';
.con {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;

  background-color: #ffffff;
  width: 300px;
  flex-shrink: 0;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.cart_con {
  height: 100%;
  width: 450px;
  background-color: var(--color-light-grey);
  position: relative;
  @include flexbox(flex-start, center);
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  transition: all 0.3s;
  animation: fadeIn 0.4s ease-in-out forwards;
  &::-webkit-scrollbar {
    width: 8px; /* Ширина всего скроллбара */
    position: absolute;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px; /* Скругленные углы для дорожки */
  }

  &::-webkit-scrollbar-thumb {
    /* ползунок скроллбара */
    background: var(--color-grey);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-grey);
  }
  .cart__title {
    font-size: 20px;
    align-self: flex-start;
    margin: 10px 0 0 10px;
  }
}

.cart__close_btn {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 470px;
  background: none;
  border: none;
  z-index: 3;
  color: var(--color-light);
  transform-origin: center; // Ensures rotation happens around the center
  transition: transform 0.4s ease-in-out; /* Анимация перехода */

  &:hover {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
  &:focus {
    outline: none;
  }
}

.cart__footer {
  width: 100%; /* Убедитесь, что footer занимает всю ширину контейнера */
  background-color: #fff; /* Цвет фона footer */
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  z-index: 2;
  gap: 10px;
  @include flexbox(space-around, center);
  flex-direction: column;
  .cart__footer_desc {
    width: 90%;

    @include flexbox(space-between, center);
    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }
    span {
      font-size: 20px;
    }
  }
  .cart__footer_btn {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-light);
    transition: all 0.4s;
    cursor: pointer;
    background-color: var(--color-red);
    &:hover {
      opacity: 0.8;
    }
  }
}

// empty Cart

.cart_empty {
  height: 100%;
  width: 100%;
  background-color: var(--color-light-grey);
  @include centered;
  flex-direction: column;
  gap: 10px;
  h3 {
    color: var(--color-grey);
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
