@import 'src/styles/mixins.scss';

.nav_none {
  display: none;
}

.nav {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(40px);
  position: -webkit-sticky; // For Safari
  @include centered;
  @media (max-width: 660px) {
    background-color: var(--color-light);
  }
}

.nav__block {
  width: 90%;
  height: 50px;
  @include flexbox(space-between, center);
  overflow: hidden; // Hide overflowing content
  position: relative;
  @media (max-width: 660px) {
    overflow-x: auto;
  }
  // border: 1px dashed rgb(222, 64, 64);
}

.nav__links_con {
  width: 70%;
  @include flexbox(flex-start, center);
  // border: 1px dashed rgb(222, 64, 64);
  gap: 20px;
  .nav__logo {
    position: absolute;
    animation: offLogo 0.6s forwards;
    padding-right: 20px;
  }
  .nav__logo_active {
    position: absolute;
    display: block;
    animation: onLogo 0.6s forwards;
    padding-right: 20px;
  }
}

.nav__links {
  width: 70%;
  @include flexbox(flex-start, center);
  gap: 20px;
  animation: offLink 0.6s forwards;

  .nav__link {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: var(--color-red);
    }
  }
}

.nav__links_active {
  width: 70%;
  @include flexbox(flex-start, center);
  cursor: pointer;
  gap: 20px;
  animation: onLink 0.6s forwards;
  .nav__link {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    // background: var(--color-grey);
    &:hover {
      color: var(--color-red);
    }
  }
}

.nav__cart_btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-red);
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  @include devices(md) {
    display: none;
  }
}

.nav__cart_btn_mobile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include centered;
  border: none;
  background-color: var(--color-red);
  color: var(--color-light);
  cursor: pointer;
  position: relative;
  display: none;
  .count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @include centered;
    text-align: center;
    background-color: rgb(196, 112, 112);
    top: 0;
    right: 0;
  }
  @include devices(md) {
    display: block;
    z-index: 3;
    position: fixed;
    bottom: 50px;
    right: 100px;
  }
}

@keyframes onLogo {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes offLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes onLink {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes offLink {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
